# 在这里设置忽略文件

# vim
*.swp

# vscode
.vscode/

# java
*.war
*.class
MANIFEST.MF
resource/
out/
.myumldata

# maven
target/

# eclipse
.settings/
.classpath
.project
bin/
classes/
*.launch

# myeclipse
.myeclipse/
.externalToolBuilders/
.mymetadata
.springBeans
.tern-project
META-INF/

# idea
.idea
.idea/
*.iws
*.iml
*.ipr

# Log file
logs/
log/
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar